# PyCharm:
.idea/

# TeXlipse/Eclipse:
.project

# LaTeX:
*.synctex.gz
tmp/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out

# JabRef/BibTeX:
*.bib.bak
*.bib.sav
*.bib.sav.tmp

# vim:
.*.swp


.DS_Store
